
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Raleway&family=Roboto&display=swap');

:root {
  --primary-color: #f3f9d2;
  --secondary-color: #a7ab18;
  --accent1-color: #26303a;
  --accent2-color: #ff3131;
  --heading-font: Roboto;
  --paragraph-font: Roboto, Helvetica, sans-serif;


  --headline-color-on-white: #000000; 
  --headline-color-on-color: white; 
  --paragraph-color-on-white: #000000; 
  --paragraph-color-on-color: white; 
  --paragraph-background-color: #ff3131 ;
  --nav-link-color: white;
  --nav-background-color: #26303a;
  --nav-hover-link-color: #a7ab18;
  --nav-hover-background-color: #f3f9d2;
}



body {
  max-width: 960px;
  margin: 0 auto;
  padding: 4em;
  font-size: 18px;
  text-align: center;
}
img {
  display: block;
  margin: 0 auto;
  max-width: 300px;
  border: 2px solid black;
}
ul {
  list-style: none;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6, li {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}
h2 {
  text-align: center;
}
hr {
  height: 3px;
  margin: 35px 0;
  background: var(--accent1-color);
}
header {
  padding: 1em;
  text-align: center;
  color: var(--paragraph-color-on-color);
  background-color: var(--paragraph-background-color);
}
header > h1, header > h2 {
  color: var(--headline-color-on-color);
}
p {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color);
  padding: 1em;
}
.colors {
  width: 100%;
  min-width: 350px;
  margin: 30px auto;
  text-align: center;
}
.colors th {
  background-color: #f3f9d2;
}
.colors td{
  width: 25%;
  height: 3em;
}
.primary {
  background-color: var(--primary-color);
}
.secondary {
  background-color: var(--secondary-color);
}
.accent1 {
  background-color: var(--accent1-color);
}
.accent2{
  background-color: var(--accent2-color);
}
p.colored {
  background-color: var(--paragraph-background-color);
  color: var(--paragraph-color-on-color);
}
nav {
  background-color: var(--nav-background-color);
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
}
nav  {
  list-style-type: none;
  display: flex;
}
nav a {
  padding:1em;
  min-width: 120px;
  text-decoration: none;
  padding: 10px;
}
nav a:link, nav a:visited {
  color: var(--nav-link-color);
}
nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}
