@media only screen and (min-width: 900px) {
    nav button {
        display: none;
    }
    nav {
        background-color: white;
    }
    nav ul {
        display: flex;
        margin-left: 1vw;
    }
    nav ul {
        display: flex;
        justify-content: flex-end;
        padding: 1%;
    }
    nav ul li {
        flex: 1 1 100%;
        display: flex;
    }
    nav ul li a{
        padding-right: 1%;
        font-size: .8em;
        font-weight: 800;   
        border: none; 
        color: black;
    }
    #weather {
        top: 200px;
    }
    header {
        max-width: 1300px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        border: none;
    }
    #socials {
        grid-column: 1/4;
        grid-row: 1/2;
        display: flex;
        justify-content: flex-end;
        background-color: #ff3131;
        padding: 5px;
        margin-top: 10px;
        width: 99%;
    }
    #connect {
        display: block;
        padding-right: 20%;
        padding-left: 20%;
        font-size: 1em;
        color: white;
        font-family: Roboto;
    }
    #logo-position {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    #navigator {
        grid-column: 3/4;
        grid-row: 2/3;
        width: 100%;
        display: flex;
    }
    #current-date {
        grid-column: 2/3;
        grid-row: 2/3;
        width: 100%;
        padding-top: 5%;
        background-color: white;
    }
    #footnote {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        max-width: 1300px;
        width: 98%;
        padding: 1%;
        background-color: #ff3131;
    }
    .logo {
        width: 200px;
        height: 150px;
        margin-left: 5px;
    }
    #address {
        font-size: 1.2em;
        text-align: center;
    }
    #contact {
        font-size: 1.2em;
    }
    .current-date {
        text-align: center;
        font-size: 1em;
        font-family: Lato;
        background-color: white;
        color: black;
    }
    #logo_link {
        grid-column: 1/2;
        grid-row: 1/2;
        max-width: 50%;
        padding: 1%;
        display: flex;
    }
    #h2-hero {
        font-size: 1.5em;
        font-family: "Roboto";
    }
    .email-icon {
        font-size: 30px;
      }
    #heroMessage {
        font-size: 1.3em;
    }
    .sign {
        font-size: 1.5em;
    }
    #hero {
        margin-bottom: 30%;
    }
    .home-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    #motive, #partners {
        width: 100%;
        height: 300px;
        margin-top: 3%;
        margin-bottom: 2%;
    }
    #motive {
        grid-column: 1;
        grid-row: 1/2;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
    }
    #we-can {
        grid-column: 1/4;
        grid-row: 1/2;
        display: flex;
        font-size: 1.5em;
    }
    #innovation {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    #business {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    #investment {
        grid-column: 3/4;
        grid-row: 2/3;
    }
    .motive-img {
        width: 100px;
        height: 100px;
    }
    #we-can, #innovation, #business, #investment {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .h3-motive {
        font-family: "Roboto";
        font-size: 1em;
    
    }
    #podcast-msg {
        font-size: 1.5em;
    }
    #podcast-msg {
        text-align: justify;
        margin: 4% 0 4% 2%;
        font-family: "Montserrat";
        font-size: 1.2em;
    }
    .welcome {
        font-size: 1.4em;
        text-align: left;
    }
    #blog {
        margin-top: 0;
    }
    .logo {
        display: block;
        flex: 1 1 100%;
    }
    #address {
        grid-column: 2/3;
        grid-row: 1/2;
        width: 100%;
        font-family: "Roboto";
        font-weight: 200;
        padding: 1%;
        color: black;
        font-size: 1.3em;
    }
    #contact {
        grid-column: 3/4;
        grid-row: 1/2;
        width: 100%;
        font-family: "Raleway";
        padding: 1%;
        color: black;
        text-decoration: none;
        font-size: 1.3em;
    }
    #base-footer {
        grid-column: 1/4;
        grid-row: 2/3;
    }
    /* Page 2, discover page*/

    #demo-know {
        font-family: "Raleway";
        font-size: 1.8em;
    }
    .pict-msg {
        padding: 2%;
        font-family: "Roboto";
        font-size: 1.5em;
    }
    #population, #age, #income, #poverty {
        font-family: "Montserrat";
        font-size: 1.5em;
    }
    .images picture img {
        width: 200px;
        height: auto;
        transition: transform 0.3s; 
      }
      
      .images picture img:hover {
        transform: scale(1.1); 
      }
      
    
}