#content {
    max-width: 1300px;
    margin: 0 auto;
}
header {
    max-width: 1300px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    border: 1px solid black;
}
#socials {
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    background-color:white;
    padding-right: 3px;
    margin-top: 20px;
    width: 96%;
}
#logo-position {
    grid-column: 1/2;

}
.social {
    max-width: 20px;
    max-height: 20px;
    border-radius: 10px;
    border: 3px solid white;
    overflow: hidden;
    margin-left: 15px;
    margin-top: 10px;
}
#connect {
    display: none;
}
#navigator {
    grid-column: 1/3;
    grid-row: 3/4;
    display: flex;
    width: 100%;
}
#current-date {
    grid-column: 1/3;
    grid-row: 2/3;
    width: 100%;
    background-color: #26303a;
}
.current-date {
    text-align: center;
    font-size: 1em;
    font-family: Lato;
    background-color: #26303a;
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
    color: white;
}
.logo {
    width: 150px;
    height: 100px;
    grid-column: 1/2;
    grid-row: 1/2;
    margin-left: 5px;
}
#banner {
    display: none;
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
    font-size: 12px;
    font-family: "Montserrat";
    top: 0;
    height: 60px;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    max-width: 1300px;
    height: 400px;
    margin:2%;
    margin-bottom: 17%;
    position: relative;
}
#hero-box {
    position: relative;
    grid-column: 1/4;
    grid-row: 1/2;
    border: none;
    width: 100%;
    height: 70%;
}
#hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(90%);
}
#h2-hero {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    font-size: 1.3em;
    font-family: "Roboto";
}
#hero-msg {
    Display: none;
    position: absolute;
    left: 20px;
    top: 35%;
    background-color: #ff3131;
    width: 50%;
    height: 50%;
    padding: 3%;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 4px 4px 8px #000000;
}
hr {
    border-width: 2px;
}
.hr2 {
    border: none;
    border-top: 5px solid white;
    height: 0;
}
#weather {
    position: absolute;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    top: 500px;
    height: 150px;
    right: 2%;
    background-color: #a7ab18;
    padding: 10px;
    border-radius: 10px;
    padding-bottom: 10px;
}
#weather-img {
    width: 20px;
    height: 20px;
}
#weather-header {
    font-family: "Roboto";
    font-size: 1em;
}
#weather-result1 {
    font-family: "Montserrat";
    font-size: 1em;
}
#weather-result2 {
    font-family: "Montserrat";
    font-size: .8em;
}
.home-grid {
    grid-template-rows: auto;
    max-width: 1300px; 
    width: 100%;
    margin-top: -120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#motive, #partners, #podcasts, #blog {
    width: 100%;
    height: auto;
    margin-top: 5px;
}
.motive-img {
    width: 50px;
    height: 50px;
}
#we-can {
    font-family: "Roboto";
    font-size: 1.2em;
    text-align: center;
}
#we-can, #innovation, #business, #investment {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.h3-motive {
    font-family: "Roboto";
    font-size: 1em;

}
#partners {
    grid-column: 1;
    grid-row: 2/3;
}
#we-partner {
    text-align: center;
    font-family: "Roboto";
    background-color: #26303a;
    color: white;
    text-decoration: double;
    padding: 6px;
}
.direction {
    font-size: 1em;
    color: white;
}
#podcasts {
    grid-column: 1;
    grid-row: 3/4;
    position: relative;
    margin-top: 40px;
    width: 100%; 
}
#podcast-img {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    height: auto;
}
#podcast-msg {
    position: absolute;
    top: 0;
    right: 0;
    padding: 3%;
    color: white;
    font-family: "Montserrat";
    font-size: .7em;
}
#blog {
    grid-column: 1;
    grid-row: 4/5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: 3%;
    width: 94%;
    margin-bottom: 50px;
}
#blog-intro {
    text-align: left;
    font-family: "Roboto";
    font-size: 1.5em;
    word-spacing: 45px;
    color: #FF0000;
}
#blog-1, #blog-2, #blog-3 {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blog-img {
    width: 240px;
    height: 150px;
    box-shadow: 2px 2px 4px #000000;
}
.blog-msg {
    font-family: "Montserrat";
    font-size: 1em;
}
#footnote {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    max-width: 1300px;
    width: 98%;
    padding: 1%;
    background-color: #a7ab18;
}
#logo_link {
    grid-column: 1/4;
    grid-row: 1/2;
    max-width: 100%;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    width: 200px;
    height: 150px;
    margin-left: 5px;
}
#address {
    grid-column: 1/4;
    grid-row: 2/3;
    width: 100%;
    font-family: "Roboto";
    font-weight: 200;
    padding: 1%;
    color: black;
    font-size: 1.2em;
    text-align: center;
}
#contact {
    grid-column: 1/4;
    grid-row: 3/4;
    width: 100%;
    font-family: "Raleway";
    padding: 1%;
    color: black;
    text-decoration: none;
    font-size: 1.2em;
    text-align: center;
}
#base-footer {
    grid-column: 1/4;
    grid-row: 4/5;
    width: 99%;
    background-color: #26303a;
}
h5 {
    margin-top: 2%;
    grid-column: 1/3;
    grid-row: 1/2;
    text-align: center;
    font-family: 'Raleway', 'Roboto';
    font-weight: 600; 
    font-size: 1em;
    color: white;
}
h6 {
    grid-column: 1/3;
    grid-row: 2/3;
    text-align: center;
    margin-top: -1%;
    font-family: 'Raleway', 'Roboto';
    color: white;
    font-weight: 400; 
}

nav {
    background-color: #FF0000;
    margin-top: 10px;
    padding: 0;
    flex: 1 1 100%;
}
nav button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #26303a;
}
nav ul {
    display: none;
    margin: 0;
    justify-content: flex-end;
    padding: 5%;
    list-style-type: none;
}
nav ul li {
    flex: 1 1 100%;
}
nav ul li a {
    display: block;
    padding: .8rem 2vw;
    border: 1px solid #26303a;
    text-decoration: none;
    color: black;
    font-size: 1em;
    font-weight: 800;
    font-family: "Montserrat";
    flex: 1 1 100%;
}
nav ul li.active a {
    background-color: #a7ab18;
    color: white;
}
nav ul li a:hover {
    background-color:  #ff8d8d;
    color: white;
}


nav ul.open {
    display: block;
}
#hamburgerBtn span:nth-child(1) {
    display: block;
}
#hamburgerBtn span:nth-child(2) {
    display: none;
}
#hamburgerBtn.open span:nth-child(1) {
    display: none;
}
#hamburgerBtn.open span:nth-child(2) {
    display: block;
}
.image-slider {
    position: relative;
    overflow: hidden;
    width: 100%;
}
  
.slider-wrapper {
    display: flex;
    transition: transform 0.3s ease;
}
  
.slider {
    display: flex;
}
  
.slider img {
    width: auto;
    height: 150px;
    margin-right: 10px;
    border: 1px solid #000000;
}
.slider img:last-child {
    margin-right: 0;
}
.prev-button,
.next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
} 
.prev-button {
    left: 10px;
    height: 80px;
} 
.next-button {
    right: 10px;
    height: 80px;
}